# Endpoint of the Neo4j DB. This endpoint shall be the `tx/commit`
NEO4J_HOST=http://localhost:7474/db/neo4j/tx/commit
# Your username. Default Neo4j user is `neo4j`
NEO4J_USER=neo4j
# Your password
NEO4J_PASS=<you-password>

# Enable dry run in order to not populate the DB
# DRY_RUN=True

# Location of logger config file
LOGGER_CONFIG=${PWD}/log4j.properties